<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body class="grey-bg">
    <%- include('nav.ejs', { user: user }) %>

    <!-- <p><%= JSON.stringify(result) %></p> -->
    <!-- <p><%= JSON.stringify(chatResult) %></p>
    <p><%= userId %></p> -->
    <div class="detail-bg">
      <div class="chat-screen">
        <!-- <div class="chat-box"><span>안녕하세요</span></div> -->
        <% for(let i = 0; i < chatResult.length; i++){ let isMine =
        JSON.stringify(chatResult[i].who) === JSON.stringify(userId); %>

        <div class="chat-box <%= isMine ? 'mine' : '' %>">
          <span class="date"><%= chatResult[i].date %></span>
          <span><%= chatResult[i].content %></span>
        </div>

        <% } %>
      </div>
    </div>
    <div class="chat-form">
      <input class="chat-input" />
      <button class="chat-button" data-id="<%= result._id %>">전송</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/socket.io@4.7.2/client-dist/socket.io.min.js"></script>
    <script>
      const socket = io();
      //socket.emit("age", "20");

      document.querySelector(".chat-button").addEventListener("click", (e) => {
        let chatInput = document.querySelector(".chat-input");
        let chatVal = chatInput.value;
        socket.emit("ask-join", "<%= result._id %>");

        socket.emit("message", { msg: chatVal, room: "<%= result._id %>" });

        chatInput.value = "";
      });

      socket.on("broadcast", (data) => {
        //console.log("broadcast data who:", data.who);
        //console.log("userId:", "<%= userId %>");

        document
          .querySelector(".chat-screen")
          .insertAdjacentHTML(
            "beforeend",
            `<div class="chat-box mine"><span class="date">${data.date}</span><span>${data.msg}</span></div>`
          );

        //console.log(isMine);
        //let isMine = data.who === "<%= userId %>";

        //isMine
        //  ? document
        //      .querySelector(".chat-screen")
        //      .insertAdjacentHTML(
        //        "beforeend",
        //        `<div class="chat-box mine"><span class="date">${data.date}</span><span>${data.msg}</span></div>`
        //      )
        //  : document
        //      .querySelector(".chat-screen")
        //      .insertAdjacentHTML(
        //        "beforeend",
        //        `<div class="chat-box"><span class="date">${data.date}</span><span>${data.msg}</span></div>`
        //      );
      });
    </script>
  </body>
</html>
